html, body, input {
    font-size: 17px;
}

body {
    margin-left: 40px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.flare-input {
    margin-bottom: 2px;
}

.flare-input-number, .flare-input-int {
    width: 80px;
}

label {
    width: 150px;
    display: inline-block;
    float: left;
}
