html, body, input {
    font-size: 17px;
}

body {
    margin-left: 40px;
    margin-bottom: 40px;
}

pre {
    background-color: #f0f0f0;
    padding: 5px;
    width: 830px;
}

h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.flare-input {
    margin-bottom: 2px;
}

.flare-input > input:invalid {
    background-color: #ff5050;
}

.flare-input-number, .flare-input-int {
    width: 80px;
}

input[type="range"] {
    width: 150px;
    padding: 0px;
    margin: 0px;
}

label {
    width: 150px;
    display: inline-block;
}
